body{
    margin-top: 12vh;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; /* Adjust horizontal padding */
    width: 100%;
    min-height: 80vh;
}

section {
    align-items: center;
    display: flex-start;
    ;
    
    margin-bottom: 0;
    height: inherit;
}