/* *{
  align-items: center;
} */
form {
  align-items: center;
    width: 60vw;
    max-width: 500px;
    min-width: 200px;
    padding: 2em;
    background: solid;
    background-color: rgba(10, 1, 26, 0.699);
    border-radius: 10px;
    font-size: 105%;
     font-family: cursive, Monospace;
    border: solid;
  }

  label {
    display: block;
    margin: 0.5rem 0;

  }
  
  input,
  textarea,
  select {
    width: 100%;
    max-width:initial;
    min-height: 2em;
    border: 1px solid pink;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 2%;
  }
  
  input,
  textarea  {
    background-color:black ;
    border: 1px solid cornsilk;
    color: gray;
  }
  